.content_bar_wrapper{
    border: 1px solid white;
    width: 93%;
    margin: 1.4% auto;
    height: 44px;
    display:block;
    border-radius: 20px;
}

.content_bar_wrapper:hover {
    background-color: darkgreen;
    color: black;
}

.content_bar{
    margin: 0.8% 2.2%;
    float: left;
    color:yellow;

}
.index {
 color: #ffffff;
}

.title{
    color: #ffffff;
}
.writer {    
    float: right;
    color: #ffffff;
}

.date_created{
    float: right;
    color: #ffffff;
}
