.login-form {
    margin: 10% auto;
    padding:  3% 10%;
    /* border: 2px solid green; */
    font-size: xx-large;
    text-align: center;
}
.login-form-wrapper{
    /* border: 1px solid greenyellow; */
    padding:  2% 4%;
    display: block;
}
.input-label {
    text-align: left;
    font-size: x-large;
    display: inline-block;
    margin: 1% 2%;
    padding-left: 5%;
    width: 8%;
    height: 5%;
    color:green;
}

.input-form {
    color: white;
    font-size: x-large;
    margin: 0 2%;
    width: 37%;
    height: 20%;
    display: inline-block;
    background-color: #3c3c3c;
    border: none;
    border-bottom: 1px solid green;
}
.input-form:focus {
    outline: none;
}
.input-button{
    font-size: x-large;
    color: white;
    margin: 3%;
    width: 26%;
    display: inline-block;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.input-button:hover {
    color: aquamarine;
}