.register-form {
    padding:  3% 10%;
    font-size: x-large;
    display: block;
    text-align: center;
}
.register-form-title{
    text-align: center;
    font-size: xx-large;
}

register-form-wrapper {
    text-align: left;
    padding:  2% 4%;
    display: block;
}



.register-input {
    margin: 3% 0;
    font-size: x-large;
    color: white;
    background-color: #3c3c3c;
    border: none;
    display: inline-block;
    border-bottom: 1px solid green;
}

.register-input:focus {
    outline: none;
}

.register-label {
    width: 15%;
    margin: 1%;
    display: inline-block;
    text-align: left;
}

.radio-btn[type=radio] {
    display:none;
}
.radio-btn[type=radio]+label {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 1% 1%;
    padding: 0 3%;
    border-bottom: 1px solid green;
}
.radio-btn[type=radio]+label:hover {
    color:darkgray;
    border-bottom: 1px solid greenyellow;
}
.radio-btn[type=radio]:checked+label {
    color:aquamarine;
}
.btn {
    color: white;
    text-align: center;
    display: inline-block;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 7%;
}

.btn:hover {
    color: aquamarine;
}

/* .register-btn-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */