.register-form {
    padding:  3% 10%;
    font-size: x-large;
    display: block;
    text-align: center;
}
.register-form-title{
    text-align: center;
    font-size: xx-large;
}

register-form-wrapper {
    text-align: left;
    padding:  2% 4%;
    display: block;
}



.register-input {
    margin: 1.5% 0;
    margin-bottom: 0;
    padding: 0.5% 0;
    padding-bottom: 0;
    font-size: x-large;
    color: #EEEEEE;
    background-color: #3A4750;
    border: none;
    display: inline-block;
    border-bottom: 1px solid #EEEEEE;
}

.register-input:focus {
    outline: none;
}

.register-label {
    font-size: x-large;
    width: 15%;
    margin: 1.5%;
    display: inline-block;
    text-align: left;
}

.register_select {
    margin: 1% 2%;
    padding: 0 7.9%;
    font-size: x-large;
    text-align: center;
    background-color: #3A4750;
    border: none;
    color:#EEEEEE;

}
/* 
.radio-btn[type=radio] {
    display:none;
}
.radio-btn[type=radio]+label {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 1% 0.75%;
    padding: 0 2%;
    border-bottom: 1px solid #EEEEEE;
}
.radio-btn[type=radio]+label:hover {
    color:#D72323;
    border-bottom: 1px solid #D72323;
}
.radio-btn[type=radio]:checked+label {
    color:#D72323;
    border-bottom: 1px solid #D72323;
}
*/
.register_btn {
    color: #EEEEEE;
    background-color: #3A4750;
    border:  none;
    font-size: larger;
    text-align: center;
    display: inline-block;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 7%;
}

.register_btn:hover {
    color: #D72323;
} 

.register_validation {
    color: #D72323 !important;
}

/* .register-btn-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */