@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.wrapper .sidebar{
    background: rgb(79, 118, 140);
    position:fixed;
    left: 0;
    top: 6.5%; 
    width: 225px;
    height: 100%;
    transition: all 0.5s ease;
    background: #3c3c3c;
}
.wrapper::after {
    display: block;
    clear: both;
}